<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!-- #serverNameInput -->
      <!-- use this on inputs and thejn use the  name:type(HTMLInputElement) to be able to extract the value in the component -->
      <input type="text" class="form-control" [(ngModel)]="newServerName" />
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent" />
      <br />
      <button class="btn btn-primary" (click)="onAddServer()">
        Add Server
      </button>
      <button class="btn btn-primary" (click)="onAddBlueprint()">
        Add Server Blueprint
      </button>
    </div>
  </div>
</div>
