<!-- <input type="text" [{ngModel}]="name" />

<p>{{ name }}</p> -->

<!-- <h3 class="">Im in the AppContainer</h3>
<app-servers></app-servers> -->
<!-- <app-binding-tutorials></app-binding-tutorials> -->
<!-- <app-success-alert></app-success-alert>
<app-warning-alert></app-warning-alert> -->

<app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>

<app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
<app-even
  *ngFor="let evenNumber of evenNumbers"
  [number]="evenNumber"
></app-even>
